html {
	-webkit-tap-highlight-color: transparent;
}

html,
body {
	@apply h-full w-full;
}

body {
	@apply flex flex-grow flex-col bg-black tabular-nums text-white antialiased sm:subpixel-antialiased;

	font-variant-ligatures: no-common-ligatures;

	--swup-overlay-theme-color: black;
	--swup-overlay-theme-duration: 0.21s;
	--swup-overlay-theme-delay: 0s;
	--swup-overlay-theme-scale: 0.21;
	--swup-overlay-theme-skew: 0deg;
}

*::selection,
::selection {
	text-shadow: none;

	@apply bg-amber-400 text-white;
}

img {
	@apply inline-block select-none align-top outline-none;
}
